@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.menu {

    &__overlay {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        background: $secondary-background-color;
        top: 0;
        transform: translateY(-100vh);
        transition: all .5s ease-in-out;
        
        &.on {
            z-index: 1;
            transform: translateY(0vh);
        }
        
    }

    &__list {
        display: none;

        &.on {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5rem;

        }
    }

    &__item {
        font-size: clamp(2rem, 10vw, 10rem);

        &>* {
            color: #272727;
        }
    }
}