@use '../abstracts/placeholders' as *;

.work {
    display: grid;
    place-content: center;

    &__title {
        font-size: clamp(3rem, 9vw, 20rem);
        display: flex;
        position: relative;
        background: #000;

    }
    &__cta-scroll {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(1.6rem, 3vw, 3rem);
    }
    &__TDEE {
        height: 100vh;
        background: pink;
    }
    &__test {
        height: 100vh;
        background: salmon;
    }
}