@use '../abstracts/colors' as *;

body {
    background: $primary-background-color;

}

section {
    background: $primary-background-color;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

a {
    color: $primary-text-color;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
a::selection,
div::selection,
li::selection,
span::selection {
    background: $secondary-background-color;
    color: $primary-background-color;
}